<!--<div style="margin-top: 10px">
    <div class="custom-file">
        <input type="file" class="custom-file-input" id="customFile" (change)="onChange($event)" multiple />
        <label class="custom-file-label" for="customFile" id="customFileLabel">Choose file</label>
    </div>
</div>
<div style="margin-top: 10px">
    <button type="button" class="btn btn-primary" (click)="onUpload()" [disabled]="!files">
        Submit
    </button>
</div>
-->

<div style="text-align:center; margin-top: 100px;">
    <mat-card style="margin-top:10px; width: 50%;">
        <mat-card-content>
            <input type="file" id="customFile" (change)="onChange($event)" multiple />
            <label for="customFile" id="customFileLabel"><mat-icon>file_upload</mat-icon> </label>
            
        
            <!--
            <ngx-mat-file-input formControlName="file" id="customFile" (change)="onChange($event)" multiple>
                
                <mat-label for="customFile" id="customFileLabel">Choose file</mat-label>
            </ngx-mat-file-input>
               
            -->
                
        </mat-card-content>
        <mat-card-actions> 
            <button mat-button (click)="onUpload()" [disabled]="!files">
                Submit
            </button>
        </mat-card-actions>

    </mat-card>
</div>
